GATSBY_SANITY_PROJECT_ID="970zizvc"
GATSBY_SANITY_DATASET="production"

# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
SANITY_READ_TOKEN="skZjPQboZjcIO9gQxM6xwVoMDg7M2LJGGwko7v2SunUxg0Z2aTKT1JvgkPOMv9OksCuwtGmQyKWAHE31VRgXMNFvvsci87zWwtqwhKiFBbqaInDn99nm1AGZqelHtFWzxF6C4GDqCO1aZr56Daep2T0101AD8pAkawYz2TOiagK9oyV9LHJN"

